  .content {
      width: 800px;
      margin: 0 auto;
  }

  .wrapper {
      display: flex;
  }

  #status {
      background-color: yellow;
      color: blue;
      border-radius: 5px;
      padding: 5px;
      display: none;
      font-size: small;
  }

